/*=========================
  全体
=========================*/

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
 	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
    font-size:16px;
    line-height:1.8;

    background:#fafafa;

    /* フッターの高さ分 */
    padding-bottom:70px;
}


/*=========================
  コンテンツ
=========================*/

.container{

    max-width:1100px;

    margin:0 auto;

    padding:30px 20px;

}


#mainContents{
    width:100%;
    color:#555;
}

/*=========================
  目次
=========================*/

#toc{

    background:#fff;

    border:1px solid #ddd;

    border-radius:8px;

    padding:20px;

    margin-bottom:40px;

}


#toc h2{
   font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif!important;

    margin-top:0;

    margin-bottom:15px;

    font-size:24px;

}


#toc ul{

    list-style:none;

    margin:0;

    padding:0;

}


#toc li{

    padding:8px 0;

    border-bottom:1px solid #eee;

}


#toc li:last-child{

    border-bottom:none;

}


#toc a{

    color:#444;

    text-decoration:none;

}


#toc a:hover{

    color:#b35c00;

}


/*=========================
  固定フッター
=========================*/

#footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;

    background:#222;
    color:#fff;

    z-index:9999;
}

#copyright{
    text-align:center;
    font-size:10px;
    color:#999;

    padding:1px 0;
    line-height:1.2;
}

.footerInner{

    display:flex;

    justify-content:center;

    gap:11px;

    padding:1px 0;

    line-height:1.2;
}

.footerInner a{

    color:#fff;

    text-decoration:none;

    font-size:11px;

    font-weight:normal;
}

.footerInner a:hover{

    color:#ffd15a;
}
/*=========================
  見出し
=========================*/

h2,
h3,
h4,
h5{
    margin:40px 0 20px;
    padding:8px 14px;
    font-weight:bold;
    line-height:1.4;
    color:#000;
}

/* 大見出し */
h2{
    background:#000;
    color:#fff;
    font-size:1.6rem;
}

/* 中見出し */
h3{
    background:#d0d0d0;
    font-size:1.5rem;
}

/* 小見出し */
h4{
    background:#f0f0f0;
    font-size:1.4rem;
}

/* 最小見出し */
h5{
    background:#f8f8f8;
    font-size:1.2rem;
}